body {
    background: #0C7C78;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
  }

section {
    margin-left: 10px;
    text-align: left;
    font-size: 60px;
    height: 500px;
}

  nav {
   display: flex;
   justify-content: space-between; 
   background-color: white;
   align-content: right;
   color: black;
   height: 100px;
}

section.nav {
    height: 100px;
}

.hello {
    font-weight: 700;
    font-style: bold;
    font-size: 100px;
}

ul {
    font-style: italic;
    padding: 30px 0;
}

.header div {
    margin-left: 20px;
    text-align: left;
    font-size: 60px;
    background-color: pink;  
}

.header-text p {
    font-size: 24px;
    font-style: italic;
    background-color: pink;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between; 
    font-size: 20px;
}

li {
    width: 175px;

}


.artwork {
    background-color: white;
}

.sketchbook {
    background-color: #A9A6F6;
}
